jupyterlab
requests
openai
langchain
langchain_experimental
sqlalchemy
numpy
pandas
matplotlib
scipy
pyodps
python-dotenv
tabulate
# https://github.com/jupyterlab/jupyter-ai
# using old version of langchain
# jupyter_ai
# jupyter_ai_magics